<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5433/postgres</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>

        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create</property>

        <mapping class="org.example.entity.ItemEntity"/>
        <mapping class="org.example.entity.PhoneEntity"/>
        <mapping class="org.example.entity.ClothEntity"/>
        <mapping class="org.example.entity.CustomerEntity"/>
        <mapping class="org.example.entity.OrderEntity"/>
    </session-factory>
</hibernate-configuration>